*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    margin: 0;
}

.left{
    height: 100vh;
}

.left .title h2{
    text-transform: capitalize;
}

.right{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.right .box{
    height: 150px;
    width: 150px;
}

.right form{
    width: 80%;
    margin: 50px auto;
    border: 2px solid black;
}

.right #add_student_info{
    min-height: 100vh;
    margin-top: 190px;
}

.right #search_box{
    min-height: 100vh;
    background-color: bisque;
}

.right #search_box form{
    border: none;
    width: 500px;
}